<form action="/p/<%= @page.permalink %>/edit" method="post" role="form">
  <div class="form-group">
	<label for="content">Page content</label>
	<textarea id="content" class="form-control markdown_editor" rows="15" name="content"><%= @page.raw %></textarea>		
  </div>
</form>
